TOPIC: String Based Assignment Problem

In [6]:
# 1. Write a program to reverse a string.

S = "Farhan"                               # Input String
Reverse = S[::-1]                          # USed slicing operation
print(S, " : Reverse String :>", Reverse)  # print original and reverse String

Farhan  : Reverse String :> nahraF

In [1]:
# 2. Check if a string is a palindrome.

S = input("Enter the Input String : ")         # Take input from user
Reverse = S[::-1]                              # Reversed String using slicing
if Reverse == S:                               # If reverse String equal to original string then string is palindrome else not
    print("String Palindrome")
else:
    print("String not Palindrome")

Enter the Input String :  abcba

String Palindrome

In [14]:
# 3. Convert a string to uppercase.

S = "Pwskills"                          # Input String
Uppercase = S.upper()                   # used upper function
print(S, " : Uppercase :> ", Uppercase) # print the result

Pwskills  : Uppercase :>  PWSKILLS

In [17]:
# 4. Convert a string to lowercase.

S = "PWSkills"                           # Input String
Lowercase = S.lower()                    # used lower function
print(S, " : Lowercase :> ", Lowercase)  # print the result

PWSkills  : Lowercase :>  pwskills

In [11]:
# 5. Count the number of vowels in a string.

string = input("Enter the string : ")                  # Take input from user
count = 0                                              # Initialize count zero
vowels = set("aeiouAEIOU")                             # set vowels
count = sum(string.count(vowel) for vowel in vowels)   # count if vowels present 
print(f"count of vowels in {string} is {count}")       # print the result

Enter the string :  farhan

count of vowels in farhan is 2

In [14]:
# 6. Count the number of consonants in a string.

string = input("Enter the string : ")                               # Take input from user
count = 0                                                           # Initialize count zero
consonants = set("bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ")      # set Consonants
count = sum(string.count(consonant) for consonant in consonants)    # count if consonants present
print(f"count of consonants in {string} is {count}")                # print the result

Enter the string :  Mohammad Farhan

count of consonants in Mohammad Farhan is 9

In [16]:
# 7. Remove all whitespaces from a string.

string = input("Enter the string : ")                      # Take input from user
updateString = string.replace(" ","")                      # remove whitspace using replace function
print(f"New update string of {string} is {updateString}")  # print the result

Enter the string :  Mohammad Farhan ahmad

New update string of Mohammad Farhan ahmad is MohammadFarhanahmad

In [3]:
# 8. Find the length of a string without using the `len()` function.

string = input("Enter the string : ")     # Take input from user
count = 0                                 # Initialize count zero
for i in string:                          # Count the character using for loop iteration
    count += 1
print(f" Length of {string} is {count}")  # print the result

Enter the string :  farhan

 Length of farhan is 6

In [2]:
# 9. Check if a string contains a specific word.

string = input("Enter the string : ")                # Take input from user
specific_word = input("Enter specific word : ")      # Take specific word from user

if specific_word in string:                          # check specific word present or not
    print(f"The string contains {specific_word}")
else:
    print(f"The string not contains {specific_word}")

Enter the string :  farhan
Enter specific word :  i

The string not contains i

In [6]:
# 10. Replace a word in a string with another word.

string = input("Enter the string : ")                 # Take input from user
replace_word = input("Enter which word replace ")     # Take replace word from user
new_word = input("Enter the new word")                # Take new word from user
new_string = string.replace(replace_word, new_word,-1)# Replace word using replace function
print(new_string)                                     # print the result

Enter the string :  tgh jkl iuy
Enter which word replace  iuy
Enter the new word mko

tgh jkl mko

In [5]:
# 11. Count the occurrences of a word in a string.

string = input("Enter the string : ")  # Take input from user
word = input("Enter the word : ")      # Take Occurence word from user
count = 0                              # Initialize count with zero
new = string.split(" ")                # Split string and store words in new
for i in range(0, len(new)):           # iterate each word 
    if (word == new[i]):               # if word == occurence word then increment count
        count += 1
print(count)                           # print count

Enter the string :   A computer science portal for for for
Enter the word :  for

3

In [4]:
# 12. Find the first occurrence of a word in a string.

string = input("Enter the string : ")            # Take input string from user
word = input("Enter the First occurence word")   # Take Occurence word from user
index = string.find(word, 0, len(string))        # find first occurence index
print(f"index is {index}")                       # print index

Enter the string :  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
Enter the First occurence word is

index is 12

In [11]:
# 13. Find the last occurrence of a word in a string.

string = input("Enter the string : ")          # Take input string from user
word = input("Enter the Last occurence word")  # Take Occurence word from user
index = string.rindex(word)                    # find last index using rindex function
print(f"index is {index}")                     # print index

Enter the string :  hello this is farhan i am just learning python hello this is farhan i am just learning python hello this is farhan i am just learning python hello this is farhan i am just learning python
Enter the Last occurence word am

index is 164

In [2]:
# 14. Split a string into a list of words.

string = input("Enter the string : ")    # Take input string from user
Split = string.split()                   # Split string
print(Split)                             # print String

Enter the string :  hkj bkuk jkhu

['hkj', 'bkuk', 'jkhu']

In [4]:
# 15. Join a list of words into a string.

list = ["this", " is", " pw", " skills", " lab"]  # Take input split string
string = "".join(list)                            # join the word using join function
print(string)                                     # print string

this is pw skills lab

In [11]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

string = """PW Skills is your one-stop-shop for upscaling. Get maximum value for time and resources you invest, with job-ready courses & high-technology, available at the lowest cost."""
new = string.replace(" ","_")   # replace space with _ using replace function
print(new)                      # print the new string

PW_Skills_is_your_one-stop-shop_for_upscaling._Get_maximum_value_for_time_and_resources_you_invest,_with_job-ready_courses_&_high-technology,_available_at_the_lowest_cost.

In [14]:
# 17. Check if a string starts with a specific word or phrase.

string = "PW Skills is your one-stop-shop for upscaling. Get maximum value for time and resources you invest, with job-ready course"
word = "PW Skills"            # Enter the word
string.startswith(word)       # if string start with specific word return true else return false using startswith function

True

In [16]:
# 18. Check if a string ends with a specific word or phrase.

string = "PW Skills is your one-stop-shop for upscaling. Get maximum value for time and resources you invest, with job-ready course"
word = "course"            # Enter the word
string.endswith(word)      # if string ends with specific word return true else return false using endwith function

True

In [3]:
# 19. Convert a string to title case.

string = "PW Skills is your one-stop-shop for upscaling. Get maximum value for time and resources you invest, with job-ready course"
new = string.title()       # convert string to title case and asign into new variable
print(new)                 # print new string

Pw Skills Is Your One-Stop-Shop For Upscaling. Get Maximum Value For Time And Resources You Invest, With Job-Ready Course

In [2]:
# 20. Find the longest word in a string.

string = "PW Skills is your one stop shop for upscaling. Get maximum value for time and resources you invest, with job ready course"
split = string.split()               # string convert into split
split = sorted(split, key = len)     # sort string into assending order
print(split[-1])                     # print the longest word

upscaling.

In [4]:
# 21. Find the shortest word in a string.

string = "PW Skills is your one stop shop for a upscaling. Get maximum value for time and resources you invest, with job ready course"
split = string.split()
split = sorted(split, key = len)  # sorted in assending order
print(split[0])                   # print the smallest word

a

In [24]:
# 22. Reverse the order of words in a string.

string = "PW Skills is your one stop shop for upscaling. Get maximum value for time and resources you invest, with job ready"
string = string.split()          # string convert into split using split fumnction
rev = ' '.join(reversed(string)) #  we have used reversed() to get the iterator that accesses the given sequence in the reverse order.
# And to add the words in the new string, we have used join() which will join all the words with a space in the new string.
print(rev)    # print reverse string

ready job with invest, you resources and time for value maximum Get upscaling. for shop stop one your is Skills PW

In [42]:
# 23. Check if a string is alphanumeric.

# string = "PW Skills is your one stop shop for upscaling. Get maximum value for time and resources you invest, with job ready"
string = input("Enter the string : ")   # Take input string from user
string.isalnum()                        # check if string is alphanumeric print true else false using isalnum function

Enter the string :  kilo98)

False

In [8]:
# 24. Extract all digits from a string.

string = "There are 2 apples for 4 persons"  # take input string
digit = []                                   # initialize digit variable
for i in string.split():
    if i.isdigit():               # if digit is present in string append digit in digit variable
        digit.append(int(i))
print(digit)                      # print digit variable

[2, 4]

In [6]:
# 25. Extract all alphabets from a string.

string = "There are 2 apples for 4 persons"   # take input string
alpha = []                                    # initialize alpha variable
    for i in string.split                     # iterate each word in string
    if i.isalpha():                           # if alphabet present then appent it in alpha variable
        alpha.append(i)
print(alpha)

['There', 'are', 'for', 'persons']

In [11]:
# 26. Count the number of uppercase letters in a string.

string = "Count the Number of Uppercase letTTers in a String."  # take input string
count = 0                                                       # initialize count with 0
for i in string:                                                # iterate each ewlement using for loop
    if i.isupper():                                             # if character is uppercase increment count
        count += 1
print(count)                                                    # print result

6

In [13]:
# 27. Count the number of lowercase letters in a string.

string = "Count the Number of Uppercase letTTers in a String."     # take input string
count = 0                                                          # initialize count with 0
for i in string:                                                   # iterate each ewlement using for loop
    if i.islower():                                                # if character is lowercase increment count
        count += 1
print(count)                                                       # print result

36

In [15]:
# 28. Swap the case of each character in a string.

string = "Count the Number of Uppercase letTTers in a String."    # take input string
newstring = string.swapcase()                                     # swap each case using inbuilt function
print(newstring)                                                  # print result

cOUNT THE nUMBER OF uPPERCASE LETttERS IN A sTRING.

In [24]:
# 29. Remove a specific word from a string.

string = "Count the Number of Uppercase letTTers in a String."     # take input string
newstring = string.replace("Number", "")                           # remove specific word using remove function
print(newstring)                                                   # print result

Count the  of Uppercase letTTers in a String.

In [4]:
# 30. Check if a string is a valid email address.

import re
Email = input("Enter email address : ")                          # take input mail address from user
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'  # regex expression
if(re.fullmatch(regex, Email)):                                  # if user mail is full match with regex expression
    print("Valid Mail")                                          # then print valid mail else print Invalid Mail
else:
    print("Invalid Mail")

Enter email address :  fmohd6871@gmail.com

Valid Mail

In [11]:
# 31. Extract the username from an email address string.


Email = input("Enter email address : ")   # take input mail address from user
username = Email[:Email.index('@')]       # extract user name using index function
print(username)                           # print username

Enter email address :  fmohd6871@gmail.com

fmohd6871

In [14]:
# 32. Extract the domain name from an email address string.

Email = input("Enter email address : ")      # take input mail address from user
Domain_name = Email[Email.index('@') + 1:]   # extract domain name using index function
print(Domain_name)                           # print domain name

Enter email address :  fmohd6871@gmail.com

gmail.com

In [31]:
# 33. Replace multiple spaces in a string with a single space.

string = "Replace   multiple spaces in   a string with         a single space."   # take input string with multiple spaces
new = (' '.join(string.split()))                                                  # join each split word with single space
print(new)                                                                        # print new string

Replace multiple spaces in a string with a single space.

In [5]:
# 34. Check if a string is a valid URL.

import re                                                      # import regular expression
pattern = "^https:\/\/[0-9A-z.]+.[0-9A-z.]+.[a-z]+$"  
URL = input("Enter URL : ") # https://www.google.com
if(re.match(pattern, URL)): # https://lab.pwskills.com/my-labs  # if url match with pattern then print valid url else invalid url
    print("Valid URL")
else:
    print("Invalid URL")

Enter URL :  https://lab.pwskills.com/my-labs

valid URL

In [5]:
# 35. Extract the protocol (http or https) from a URL string.

from urllib.parse import urlparse
URL = "https://lab.pwskills.com/my-labs"
parsed_url = urlparse(URL) # Parse the URL string
protocol = parsed_url.scheme # Extract the protocol
print(f"Protocol : {protocol}")

Protocol : https

In [4]:
# 36. Find the frequency of each character in a string.

string = "Find the frequency of each character in a string"
frequency = {}
for i in string:
    if(i in frequency):
        frequency[i] += 1
    else:
        frequency[i] = 1
print(f"Frequency :  {str(frequency)}")

Frequency :  {'F': 1, 'i': 3, 'n': 4, 'd': 1, ' ': 8, 't': 3, 'h': 3, 'e': 5, 'f': 2, 'r': 4, 'q': 1, 'u': 1, 'c': 4, 'y': 1, 'o': 1, 'a': 4, 's': 1, 'g': 1}

In [7]:
# 37. Remove all punctuation from a string.

string = "Remove, all! [punctuation].*& 'from' a string."
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in string:
    if i in punc:
        string = string.replace(i, "")
print(f"New String :  {string}")

New String :  Remove all punctuation from a string

In [1]:
# 38. Check if a string contains only digits.

string = input("Enter string : ")
string.isdigit()

Enter string :  7990

True

In [2]:
# 39. Check if a string contains only alphabets.

string = input("Enter string : ")
string.isalpha()

Enter string :  vhjvknjlkl

True

In [3]:
# 40. Convert a string to a list of characters.

string = input("Enter string : ")
list = list(string)
print(list)

Enter string :  pwskills

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [8]:
# 41. Check if two strings are anagrams.

string1 = "clint eastwood"
string2 = "old west action"
string1 = string1.replace(" ","")
string2 = string2.replace(" ","")
s1 = sorted(string1)
s2 = sorted(string2)
if(s1 == s2):
    print("Strings are anagram")
else:
    print("Strings are not anagram")

Strings are not anagram

In [3]:
# 42. Encode a string using a Caesar cipher.

def caesar_cipher_encode(text, shift):
    encoded_text = ""
    
    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()
            char = char.lower()  # Convert to lowercase for easier shifting
            
            # Shift the character by the specified amount
            shifted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            
            # Convert back to uppercase if it was originally uppercase
            if is_upper:
                shifted_char = shifted_char.upper()
            
            encoded_text += shifted_char
        else:
            # If the character is not a letter, leave it unchanged
            encoded_text += char
    
    return encoded_text
original_text = "Pwskills"
shift_amount = 4
encoded_text = caesar_cipher_encode(original_text, shift_amount)
print("Original text:", original_text)
print("Encoded text:", encoded_text)

Original text: Pwskills
Encoded text: Tawomppw

In [4]:
# 43. Decode a Caesar cipher encoded string.

def caesar_cipher_decode(encoded_text, shift):
    decoded_text = ""

    for char in encoded_text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()
            char = char.lower()  # Convert to lowercase for easier shifting

            # Reverse the Caesar cipher shift by subtracting the shift amount
            shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))

            # Convert back to uppercase if it was originally uppercase
            if is_upper:
                shifted_char = shifted_char.upper()

            decoded_text += shifted_char
        else:
            # If the character is not a letter, leave it unchanged
            decoded_text += char

    return decoded_text

# Example usage:
encoded_text = "Tawomppw"
shift_amount = 4
decoded_text = caesar_cipher_decode(encoded_text, shift_amount)
print("Encoded text:", encoded_text)
print("Decoded text:", decoded_text)

Encoded text: Tawomppw
Decoded text: Pwskills

In [5]:
# 44. Find the most frequent word in a string.

from collections import defaultdict
string = "PW Skills is your one-stop-shop for upscaling.PW, PW, PW Skills provides hybrid courses in data science, PW Skills is your one-stop solution"
temp = defaultdict(int)
for word in string.split():
    temp[word] += 1
res = max(temp, key=temp.get) # getting max frequency
print(str(res))

PW

In [8]:
# 45. Find all unique words in a string.

string = "PW Skills is your one-stop-shop for upscaling. PW PW PW Skills provides hybrid courses in data science"
new = string.split()
sets = set(new)
print(sets)

{'is', 'Skills', 'upscaling.', 'science', 'hybrid', 'one-stop-shop', 'data', 'your', 'PW', 'for', 'courses', 'provides', 'in'}

In [11]:
# 46. Count the number of syllables in a string.

string = "countingwords"
count = 0
vowels = "aeiou"
if string[0] in vowels:
    count += 1
for index in range(1, len(string)):
    if string[index] in vowels and string[index - 1] not in vowels:
        count += 1
        if string.endswith("e"):
            count -= 1
if count == 0:
    count += 1
print(count)

3

In [16]:
# 47. Check if a string contains any special characters.

string = "pe#sk!l$"
spl = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
special_char = []
for i in string:
    if(i in spl):
        special_char += i
print(special_char)

['#', '!', '$']

In [39]:
# 48. Remove the nth word from a string.

string = "Remove the nth word from a string"
nth = int(input("Enter the nth word which is remove : "))
l1 = list(string.split())
l2 = l1.pop(nth)
new = " "
print(f"Removed word : {l2}")
print(new.join(l1))

Enter the nth word which is remove :  5

Removed word : a
Remove the nth word from string

In [44]:
# 49. Insert a word at the nth position in a string.

string = "Insert a word at the nth position in a string."
word = input("Enter the word : ")
index = int(input("Enter the index position : "))
new = " "
l1 = list(string.split())
l1.insert(index, word)
print(new.join(l1))

Enter the word :  pw
Enter the index position :  3

Insert a word pw at the nth position in a string.

In [45]:
# 50. Convert a CSV string to a list of lists.

string = "apple,banana,cherry,mango,pineapple,guava"
print(string.split(","))

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'guava']

List Based Practice Problem :

In [13]:
# 1. Create a list with integers from 1 to 10.

List = []
for i in range(1, 11):
    List.append(i)
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# 2. Find the length of a list without using the `len()` function.

L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = 0
for i in L:
    length += 1
print(f"Length is : {length}")

Length is : 10

In [15]:
# 3. Append an element to the end of a list.

L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
L.append(11)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [16]:
# 4. Insert an element at a specific index in a list.

L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
L.insert(4, 4.678)
print(L)

[1, 2, 3, 4, 4.678, 5, 6, 7, 8, 9, 10]

In [18]:
# 5. Remove an element from a list by its value.

L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
L.remove(7)
print(L)

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [19]:
# 6. Remove an element from a list by its index.

L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
L.pop(3)
print(L)

[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [2]:
# 7. Check if an element exists in a list.

L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
i = 7
if i in L:
    print("Element exist")
else:
    print("Element not exist")

Element exist

In [6]:
# 8. Find the index of the first occurrence of an element in a list.

L = [1, 2, 5, 3, 4, 3, 2, 1, 5, 6, 7, 3, 8, 9, 10]
L.index(3)

3

In [4]:
# 9. Count the occurrences of an element in a list.

L = [1, 2, 5, 3, 4, 3, 2, 1, 5, 6, 7, 3, 8, 9, 3, 10]
ele = int(input("Enter the occurence element"))
count = 0
for i in L:
    if (i == ele):
        count += 1
print(f"Element {ele} occurs {count} times")

Enter the occurence element 11

Element 11 occurs 0 times

In [7]:
# 10. Reverse the order of elements in a list.

L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rev = L[::-1]
print(rev)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
# 11. Sort a list in ascending order.

L = [1, 2, 5, 3, 4, 3, 2, 1, 5, 6, 7, 3, 8, 9, 3, 10]
L.sort(reverse = False)
print(L)

[1, 1, 2, 2, 3, 3, 3, 3, 4, 5, 5, 6, 7, 8, 9, 10]

In [15]:
# 12. Sort a list in descending order.

L = [1, 2, 5, 3, 4, 3, 2, 1, 5, 6, 7, 3, 8, 9, 3, 10]
L.sort(reverse = True)
print(L)

[10, 9, 8, 7, 6, 5, 5, 4, 3, 3, 3, 3, 2, 2, 1, 1]

In [16]:
# 13. Create a list of even numbers from 1 to 20.

l = []
for i in range(1, 21):
    if i%2 == 0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
# 14. Create a list of odd numbers from 1 to 20.

l = []
for i in range(1, 21):
    if i%2 != 0:
        l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
# 15. Find the sum of all elements in a list.

L = [1, 2, 5, 3, 4, 3, 2, 1, 5, 6, 7, 3, 8, 9, 3, 10]
sum = 0
for i in L:
    sum += i
print(f"Total Sum of element is {sum}")

Total Sum of element is 72

In [9]:
# 16. Find the maximum value in a list.

L = [1, 2, 5, 3, 4, 3, 2, 1, 5, 6, 7, 15, 3, 8, 20, 9, 3, 10, 11, 12]
L.sort()
Length = len(L)
max = L[Length - 1]
print(f"Maximum value is {max}")

Maximum value is 20

In [10]:
# 17. Find the minimum value in a list.

L = [11, 2, 5, 3, 4, 3, 2, 1, 5, 6, 7, 15, 3, 8, 20, 9, 3, 10, 11, 12]
L.sort()
min = L[0]
print(f"Minimum value is {min}")

Minimum value is 1

In [4]:
# 18. Create a list of squares of numbers from 1 to 10.

L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sqr = []
for i in L:
    sqr.append(i*i)
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# 19. Create a list of random numbers.

import random
random_list = []
for i in range(15):
    l = random.randint(1, 100)
    random_list.append(l)
print(random_list)

[52, 5, 47, 51, 22, 79, 56, 46, 29, 65, 95, 17, 16, 80, 61]

In [10]:
# 20. Remove duplicates from a list.

L = [1, 2, 5, 3, 4, 3, 2, 1, 5, 2, 3, 6, 7, 15, 3, 8, 20, 9, 1, 3, 10, 11, 12]
s = set(L)
List = list(s)
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 20]

In [16]:
# 21. Find the common elements between two lists.

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [2, 3, 4, 6, 8, 11, 15, 17]
l3 = []
for i in l1:
    if i in l1:
            if i in l2:
                l3.append(i)
print(f"Common element is {l3}")

Common element is [2, 3, 4, 6, 8]

In [20]:
# 22. Find the difference between two lists.

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [2, 3, 4, 6, 8, 11, 15, 17]
l3 = []
for i in l1:
    if i not in l2:
        l3.append(i)
for j in l2:
    if j not in l1:
        l3.append(j)
print(f" Difference between two elements : {l3}")

 Difference between two elements : [1, 5, 7, 9, 10, 11, 15, 17]

In [22]:
# 23. Merge two lists.

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [2, 3, 4, 6, 8, 11, 15, 17]
l3 = []
l3 = l1 + l2
print(f"Merge two lists : {l3}")

Merge two lists : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 6, 8, 11, 15, 17]

In [23]:
# 24. Multiply all elements in a list by 2.

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = []
for i in l1:
    l2.append(i*2)
print(f"Multiplied each elements by 2 : {l2}")

Multiplied each elements by 2 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
# 25. Filter out all even numbers from a list.

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = []
for i in l1:
    if i%2 != 0:
        l2.append(i)
print(f"Filter out all Even numbers is : {l2}")

Filter out all Even numbers is : [1, 3, 5, 7, 9]

In [32]:
# 26. Convert a list of strings to a list of integers.

l = ['1', '2', '3', '4', '5', '6']
for i in range(0, len(l)):
    l[i] = int(l[i])  #  converting each string of the list to int by type casting. 
print(f"Modified list is : {l}")

Modified list is : [1, 2, 3, 4, 5, 6]

In [33]:
# 27. Convert a list of integers to a list of strings.

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in range(0, len(l)):
    l[i] = str(l[i])
print(f"Modified list is : {l}")

Modified list is : ['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [35]:
# 28. Flatten a nested list.

l = [[1, 2, 3, 4, 5], [6, 7, 8], ["pw", "skills", 9 ,10]]
l = sum(l, [])
print(f"Modified list is : {l}")

Modified list is : [1, 2, 3, 4, 5, 6, 7, 8, 'pw', 'skills', 9, 10]

In [5]:
# 29. Create a list of the first 10 Fibonacci numbers.

L = []
fib1 = 0
fib2 = 1
fibonacci = []
for i in range(10):
    fibonacci = fib1 + fib2
    fib1 = fib2
    fib2 = fibonacci
    L.append(fibonacci)
L

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [6]:
# 30. Check if a list is sorted.

L = [1, 2, 3, 5, 4, 5, 6]
flag = 0
i = 1
while(i < len(L)):
    if L[i] < L[i - 1]:
        flag = 1
    i += 1
if(flag == 0):
    print("List is sorted")
else:
    print("List is not sorted")

List is not sorted

In [17]:
# 31. Rotate a list to the left by `n` positions.

List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
position = int(input("enter ith Position : "))
List = List[position:] +List[:position]
print(f"rotates left List by {position} Positions : {List}")

enter ith Position :  3

rotates left List by 3th Positions : [4, 5, 6, 7, 8, 9, 1, 2, 3]

In [20]:
# 32. Rotate a list to the right by `n` positions.

List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
position = int(input("enter ith Position : "))
List = List[-position:] +List[:-position]
print(f"rotates right List by {position} Positions : {List}")

enter ith Position :  5

rotates right List by 5 Positions : [5, 6, 7, 8, 9, 1, 2, 3, 4]

In [7]:
# 33. Create a list of prime numbers up to 50.

List = []
for i in range(2, 51):
    if i == 2:
        List.append(i)
    for k in range(2, i):
        if i%k == 0:
            break
        if k == i-1:
            List.append(i)
print(f"Prime Numbers upto 50 : {List}")

Prime Numbers upto 50 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [9]:
# 34. Split a list into chunks of size `n`.

List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]  # Taken a list.
n = int(input("Enter the value of n : "))                   # How many elements each list should have:
new = [List[i:i + n] for i in range(0, len(List), n)]       # Using List comprehension.
print(f"Split a list into chunks of size {n} is : {new}")   # print the result.

Enter the value of n :  2

Split a list into chunks of size 2 is : [[1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [11, 12], [13, 14], [15]]

In [3]:
# 35. Find the second largest number in a list.

L = [1, 23, 2, 43, 3, 5, 46, 21, 7, 2, 9, 27, 33, 49]

max = -999999999

for i in range(0,len(L)):
    if L[i] > max:
        max = L[i]

second_max = -99999999

for j in range(0, len(L)):
    if(L[j] > second_max and L[j] < max):
        second_max = L[j]

print(f"Max is : {max}")
print(f"Second max is : {second_max}")

Max is : 49
Second max is : 46

In [9]:
# 36. Replace every element in a list with its square.

List = [1, 2, 3, 9, 4, 5, 6, 21, 7, 18, 7, 8, 9, 10, 11, 12, 13, 14, 15]  # Taken a list.
for i in range(len(List)):
    List[i] = List[i]**2
print(f"Square : {List}")

Square : [1, 4, 9, 81, 16, 25, 36, 441, 49, 324, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [3]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

List = [1, 2, 3, 9, 4, 5, 6, 21, 7, 18, 7, 8, 9, 10, 11, 12, 13, 14, 15, 22]  # Taken a list.
new = {}
for i in range(0, len(List)):
    new[List[i]] = i
print(f"New Dictionary is : {new}")

New Dictionary is : {1: 0, 2: 1, 3: 2, 9: 12, 4: 4, 5: 5, 6: 6, 21: 7, 7: 10, 18: 9, 8: 11, 10: 13, 11: 14, 12: 15, 13: 16, 14: 17, 15: 18, 22: 19}

In [8]:
# 38. Shuffle the elements of a list randomly.

import random
List = [1, 2, 3, 9, 4, 5, 6, 21, 7, 18, 7, 8, 9, 10, 11, 12, 13, 14, 15]  # Taken a list.
random.shuffle(List)
print(f"Randomly shuffle List : {List}")

Randomly shuffle List : [1, 4, 18, 8, 7, 10, 14, 6, 12, 3, 13, 9, 2, 5, 7, 9, 15, 11, 21]

In [10]:
# 39. Create a list of the first 10 factorial numbers.

List = []
for i in range(1, 11):
    temp = 1
    for j in range(1, i+1):
        temp *= j
    List.append(temp)
print(f"Create a List of First 10 Factorial : {List}")

Create a List of First 10 Factorial : [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [15]:
# 40. Check if two lists have at least one element in common.

l1 = [1, 2, 3, 4, 5, 6]
l2 = [7, 8, 9, 10, 11, 12, 6, 2]
flag = 0
for i in range(0, len(l1)):
    if l1[i] in l2:
        flag = 1
        break
if flag == 1:
    print("Yes, there is atleast one common element")
else:
    print("No, there is no common element")

Yes, there is atleast one common element

In [21]:
# 41. Remove all elements from a list.

l1 = [1, 2, 3, 4, 5, 6]
l1.clear()
print(f"Remove all the element : {l1}")

Remove all the element : []

In [23]:
# 42. Replace negative numbers in a list with 0.

l = [1, 2, 3, 4, -3, -9, -23, 4, 8, -1]
for i in range(0, len(l)):
    if l[i] < 0:
        l[i] = 0
print(f"Replace all negative number with 0 : {l}")

Replace all negative number with 0 : [1, 2, 3, 4, 0, 0, 0, 4, 8, 0]

In [26]:
# 43. Convert a string into a list of words.

string = "Convert a string into a list of words"
List = string.split()
print(f"List : {List}")

List : ['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

In [36]:
# 44. Convert a list of words into a string.

List = ['Convert', 'a', 'list', 'of', 'words', 'into', 'a', 'string']
string = " ".join(List)
print(string)

Convert a list of words into a string

In [41]:
# 45. Create a list of the first `n` powers of 2.

List = []
n = int(input("Enter the value of n : "))
for i in range(0, n):
    List.append(2**i)
print(f"List of First {n} power of 2 : {List}")

Enter the value of n :  8

List of First 8 power of 2 : [1, 2, 4, 8, 16, 32, 64, 128]

In [48]:
# 46. Find the longest string in a list of strings.

List = ['Convert', 'a', 'list', 'pwskills', 'skills', 'of', 'words', 'into', 'a', 'string', 'pw']
List = sorted(List, key = len)
print(f"Longest string in List : {List[-1]}")

Longest string in List : pwskills

In [49]:
# 47. Find the shortest string in a list of strings.

List = ['Convert', 'a', 'list', 'pwskills', 'skills', 'of', 'words', 'into', 'a', 'string', 'pw']
List = sorted(List, key = len)
print(f"shortest string in List : {List[0]}")

shortest string in List : a

In [9]:
# 48. Create a list of the first `n` triangular numbers.

L = []
n = int(input("Enter the value of n : "))
sum = 0
for i in range(1, n+1):
    sum += i
    L.append(sum)
print(f"First {n} triangular numbers :  {L}")

Enter the value of n :  9

First 9 triangular numbers :  [1, 3, 6, 10, 15, 21, 28, 36, 45]

In [4]:
# 49. Check if a list contains another list as a subsequence.

List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 18, 20]
sub = [1, 2, 3, 5, 6, 8]
flag = 0
sub_index = 0
for i in range(0, len(List)):
    if (List[i] == sub[sub_index]):
        sub_index += 1
        if sub_index == len(sub):
            flag = 1
            break
if(flag == 1):
    print("List contains the subsequence")
else:
    print("List not contain subsequence")

List contains the subsequence

In [6]:
# 50. Swap two elements in a list by their indices.

List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 18, 20]
index1 = 3
index2 = 7
temp = List[index1]
List[index1] = List[index2]
List[index2] = temp
print(f"New List : {List}")

New List : [1, 2, 3, 8, 5, 6, 7, 4, 9, 10, 11, 12, 15, 18, 20]

Tuple Based Practice Problem :

In [17]:
# 1. Create a tuple with integers from 1 to 5.

List = []
for i in range(1, 6):
    List.append(i)
Tuple = tuple(List)
print(Tuple)

(1, 2, 3, 4, 5)

In [19]:
# 2. Access the third element of a tuple.

Tuple = (1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10)
element = Tuple[2]
print(element)

3

In [2]:
# 3. Find the length of a tuple without using the `len()` function.

Tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Length = 0
for i in Tuple:
    Length += 1
print(f"Length : {Length}")

Length : 10

In [4]:
# 4. Count the occurrences of an element in a tuple.

Tuple = (1, 2, 3, 1, 2, 4, 1, 2, 3, 4, 5, 6, 3, 4, 5, 7, 8, 9, 10)
element = 5
count = 0
for i in Tuple:
    if i == element:
        count += 1
print(count)

2

In [12]:
# 5. Find the index of the first occurrence of an element in a tuple.

Tuple = (1, 2, 3, 1, 2, 4, 1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 9, 10)
element = 6
for i in range(0, len(Tuple)):
    if Tuple[i] == element:
        break
print(f"First occurence index of {element} is : {i}")

First occurence index of 6 is : 11

In [27]:
# 6. Check if an element exists in a tuple.

Tuple = (1, 2, 3, 1, 2, 4, 1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 17, 20)
element = 21
flag = 0
for i in range(0, len(Tuple)):
    if element == Tuple[i]:
        flag = 1
        break
if(flag == 1):
    print(f"Element {element} exist")
else:
    print(f"Element {element} not exist")

Element 21 not exist

In [28]:
# 7. Convert a tuple to a list.

Tuple = (1, 2, 3, 1, 2, 4, 1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 17, 20)
List = list(Tuple)
print(List)

[1, 2, 3, 1, 2, 4, 1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 17, 20]

In [30]:
# 8. Convert a list to a tuple.

List = [1, 2, 3, 1, 2, 4, 1, 2, 3, 4, 5, 6, 8, 9, 10, 12]
Tuple = tuple(List)
print(Tuple)

(1, 2, 3, 1, 2, 4, 1, 2, 3, 4, 5, 6, 8, 9, 10, 12)

In [32]:
# 9. Unpack the elements of a tuple into variables.

Tuple = ("Shudhanshu Sir", "Data Science Pro", "12th August", "1 year")
(Teacher_Name, Batch, Starts_on, Duration) = Tuple
print(f"Teacher Name :  {Teacher_Name}")
print(f"Batch :  {Batch}")
print(f"Starts On : {Starts_on}")
print(f"course Duration : {Duration}")

TeacherName :  Shudhanshu Sir
Batch :  Data Science Pro
Starts On : 12th August
course Duration : 1 year

In [1]:
# 10. Create a tuple of even numbers from 1 to 10.

List = []
for i in range(2, 11, 2):
    List.append(i)
Tuple = tuple(List)
print(Tuple)

(2, 4, 6, 8, 10)

In [2]:
# 11. Create a tuple of odd numbers from 1 to 10.

List = []
for i in range(1, 11, 2):
    List.append(i)
Tuple = tuple(List)
print(Tuple)

(1, 3, 5, 7, 9)

In [4]:
# 12. Concatenate two tuples.
Tuple1 = (1, 3, 5, 7, 9)
Tuple2 = (2, 4, 6, 8, 10)
Tuple3 = Tuple1 + Tuple2
print(f"Concatenate Two Tuple : {Tuple3}")

Concatenate Two Tuple : (1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

In [7]:
# 13. Repeat a tuple three times.

Tuple = (1, 3, 5, 7, 9)
Tuple = Tuple*3
print(Tuple)

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [9]:
# 14. Check if a tuple is empty.

Tuple1 = (1, 3, 5, 7, 9)
Tuple2 = ()

if not Tuple1:
    print("Tuple1 is empty")
else:
    print("Tuple1 is not empity")

if not Tuple2:
    print("Tuple2 is empty")
else:
    print("Tuple2 is not empity")

Tuple1 is not empity
Tuple2 is empty

In [10]:
# 15. Create a nested tuple.

Nested_Tuple = ((1, 2, 3, 4), 5, 6, 7, 8, ("pwskills"), (True, False))
print(f"Nested Tuple : {Nested_Tuple}")

Nested Tuple : ((1, 2, 3, 4), 5, 6, 7, 8, 'pwskills', (True, False))

In [11]:
# 16. Access the first element of a nested tuple.

Nested_Tuple = ((1, 2, 3, 4), 5, 6, 7, 8, ("pwskills"), (True, False))
print(Nested_Tuple[0])

(1, 2, 3, 4)

In [13]:
# 17. Create a tuple with a single element.

Tuple = (3,)
print(f"Single Element Tuple : {Tuple}")

Single Element Tuple : (3,)

In [22]:
# 18. Compare two tuples.

tuple1 = (1, 3, 5, 7, 9)
tuple2 = (1, 4, 6, 8, 0)

print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [23]:
# 19. Delete a tuple.

Tuple = (1, 3, 5, 7, 9)
del Tuple
print(Tuple)

NameError: name 'Tuple' is not defined

In [26]:
# 20. Slice a tuple.

Tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
slice_tuple = Tuple[3:8:1]
print(f"Slice Tuple : {slice_tuple}")

Slice Tuple : (4, 5, 6, 7, 8)

In [27]:
# 21. Find the maximum value in a tuple.

Tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 18, 15, 16)
max = -999999999
for i in Tuple:
    if max < i:
        max = i
print(f"Maximum element in Tuple is : {max}")

Maximum element in Tuple is : 18

In [30]:
# 22. Find the minimum value in a tuple.

Tuple = (1, 2, 3, 4, 5, 6, -5, 7, 8, 9, 10, 12, 18, 15, 16)
min = 999999999
for i in Tuple:
    if min > i:
        min = i
print(f"Minimum element in Tuple is : {min}")

Minimum element in Tuple is : -5

In [31]:
# 23. Convert a string to a tuple of characters.

String = "Pwskills"
Tuple = tuple(String)
print(Tuple)

('P', 'w', 's', 'k', 'i', 'l', 'l', 's')

In [34]:
# 24. Convert a tuple of characters to a string.

Tuple = ('P', 'w', 's', 'k', 'i', 'l', 'l', 's')
String = ''.join(Tuple)
print(f"String of Tuples : {String}")

String of Tuples : Pwskills

In [35]:
# 25. Create a tuple from multiple data types.

Tuple = (1, 2, 3, [4, 5, 6], {7, 8, 9}, True, False, 6.28, 3+5j, -56, "pwskills")
print(Tuple)

(1, 2, 3, [4, 5, 6], {8, 9, 7}, True, False, 6.28, (3+5j), -56, 'pwskills')

In [36]:
# 26. Check if two tuples are identical.

tuple1 = (1, 3, 5, 7, 9)
tuple2 = (1, 4, 6, 8, 0)
tuple3 = (1, 3, 5, 7, 9)

if tuple1 == tuple2:
    print("Tuple1 and Tuple2 are identical")
else:
    print("Tuple1 and Tuple2 are not identical")

if tuple2 == tuple3:
    print("Tuple2 and Tuple3 are identical")
else:
    print("Tuple2 and Tuple3 are not identical")

if tuple1 == tuple3:
    print("Tuple1 and Tuple3 are identical")
else:
    print("Tuple1 and Tuple3 are not identical")

Tuple1 and Tuple2 are not identical
Tuple2 and Tuple3 are not identical
Tuple1 and Tuple3 are identical

In [37]:
# 27. Sort the elements of a tuple.

Tuple = (1, 2, 3, 4, 5, 20, 22, 6, 7, 8, 9, 10, 12, 18, 15, 16)
Sorted = tuple(sorted(Tuple))
print(f"Sorted Tuple is : {Sorted}")

Sorted Tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 16, 18, 20, 22)

In [2]:
# 28. Convert a tuple of integers to a tuple of strings.

Tuple = (1, 2, 3, 4, 5, 20, 22, 6, 7, 8, 9, 10, 12, 18, 15, 16)
String = tuple(str(i) for i in Tuple)
print(String)

('1', '2', '3', '4', '5', '20', '22', '6', '7', '8', '9', '10', '12', '18', '15', '16')

In [3]:
# 29. Convert a tuple of strings to a tuple of integers.

Tuple = ('1', '2', '3', '4', '5', '20', '22', '6', '7', '8', '9', '10', '12', '18', '15', '16')
Int = tuple(int(i) for i in Tuple)
print(Int)

(1, 2, 3, 4, 5, 20, 22, 6, 7, 8, 9, 10, 12, 18, 15, 16)

In [5]:
# 30. Merge two tuples.

tuple1 = (1, 3, 5, 7, 9)
tuple2 = (1, 4, 6, 8, 10)
Merge_Tuples = tuple1 + tuple2
print(f"Merge two Tuples {tuple1} and {tuple2} is : {Merge_Tuples}")

Merge two Tuples (1, 3, 5, 7, 9) and (1, 4, 6, 8, 10) is : (1, 3, 5, 7, 9, 1, 4, 6, 8, 10)

In [8]:
# 31. Flatten a nested tuple.

def Flatten_Tuple(Nested_Tuple):
    Flatten = []
    for i in Nested_Tuple:
        if isinstance(i, tuple):
            Flatten.extend(Flatten_Tuple(i))
        else:
            Flatten.append(i)
    return Flatten
Nested_Tuple = (1, 2, 3, (4, (5, 6, (7, 8), 9), 10), 11, (12))
flattened_tuple = tuple(Flatten_Tuple(Nested_Tuple))
print(f"Flatten Tuple : {flattened_tuple}")

Flatten Tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

In [5]:
# 32. Create a tuple of the first 5 prime numbers.

List = []
for i in range(2, 100):
    if i == 2:
        List.append(i)
    else:
        for j in range(2, i):
            if(i%j == 0):
                break
            if(j == i - 1):
                List.append(i)
prime_tuple = tuple(List)[:5]
print(f"First 5 prime numbers : {prime_tuple}")

First 5 prime numbers : (2, 3, 5, 7, 11)

In [3]:
# 33. Check if a tuple is a palindrome.

def is_palindrome(Tuple):
    reverse = Tuple[::-1]
    if(Tuple == reverse):
        print(f"Tuple {Tuple} is palindrome")
    else:
        print(f"Tuple {Tuple} is not palindrome")
        
Tuple1 = (1, 2, 3, 4, 3, 2, 1)
is_palindrome(Tuple1)

Tuple2 = (2, 3, 4, 5, 6, 4, 3, 2)
is_palindrome(Tuple2)

Tuple (1, 2, 3, 4, 3, 2, 1) is palindrome
Tuple (2, 3, 4, 5, 6, 4, 3, 2) is not palindrome

In [4]:
# 34. Create a tuple of squares of numbers from 1 to 5.

Tuple = tuple(i**2 for i in range(1,6))
print(f"Tuple of squares of numbers from 1 to 5 is : {Tuple}")

Tuple of squares of numbers from 1 to 5 is : (1, 4, 9, 16, 25)

In [7]:
# 35. Filter out all even numbers from a tuple.

Tuple = (1, 2, 3, 4, 5, 20, 22, 6, 7, 8, 9, 10, 12, 18, 15, 16)
L = []
for i in Tuple:
    if i%2 != 0:
        L.append(i)
print(f"filter out all Even Numbers : {tuple(L)}")

Even Numbers : (1, 3, 5, 7, 9, 15)

In [9]:
# 36. Multiply all elements in a tuple by 2.

Tuple = (1, 2, 3, 4, 5, 20, 22, 6, 7, 8, 9, 10, 12, 18, 15, 16)
doubled = tuple(i*2 for i in Tuple)
print(f"Doubled Touple : {doubled}")

Doubled Touple : (2, 4, 6, 8, 10, 40, 44, 12, 14, 16, 18, 20, 24, 36, 30, 32)

In [19]:
# 37. Create a tuple of random numbers.

import random
random_tuple = tuple(random.randint(1, 200) for _ in range(1, 15))
print(f"Random Tuple : {random_tuple}")

Random Tuple : (38, 79, 130, 74, 119, 109, 140, 116, 65, 22, 51, 7, 82, 85)

In [20]:
# 38. Check if a tuple is sorted.

def is_sorted(Tuple):
    for i in range(0, len(Tuple) - 1):
        if Tuple[i] > Tuple[i+1]:
            return False
    return True
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
tuple2 = (2, 3, 4, 1, 6, 2, 7, 4, 8)

t1 = is_sorted(tuple1)
t2 = is_sorted(tuple2)

print(f"{tuple1} is sorted : {t1}")
print(f"{tuple2} is sorted : {t2}")

(1, 2, 3, 4, 5, 6, 7, 8, 9) is sorted : True
(2, 3, 4, 1, 6, 2, 7, 4, 8) is sorted : False

In [21]:
# 39. Rotate a tuple to the left by `n` positions.

def rotate_left(Tuple, n):
    n = n%len(Tuple)
    rotated_tuple = Tuple[n:] + Tuple[:n]
    return rotated_tuple

Tuple = (1, 2, 3, 4, 5, 20, 22, 6, 7, 8, 9, 10, 12, 18, 15, 16)
position = 3
Rotated = rotate_left(Tuple, position)
print(f"Rotates Tuple {Tuple} left of {position} is : {Rotated}")

Rotates Tuple (1, 2, 3, 4, 5, 20, 22, 6, 7, 8, 9, 10, 12, 18, 15, 16) left of 3 is : (4, 5, 20, 22, 6, 7, 8, 9, 10, 12, 18, 15, 16, 1, 2, 3)

In [22]:
# 40. Rotate a tuple to the right by `n` positions.

def rotate_right(Tuple, n):
    n = n%len(Tuple)
    rotated_tuple = Tuple[-n:] + Tuple[:-n]
    return rotated_tuple

Tuple = (1, 2, 3, 4, 5, 20, 22, 6, 7, 8, 9, 10, 12, 18, 15, 16)
position = 3
Rotated = rotate_right(Tuple, position)
print(f"Rotates Tuple {Tuple} right of {position} is : {Rotated}")

Rotates Tuple (1, 2, 3, 4, 5, 20, 22, 6, 7, 8, 9, 10, 12, 18, 15, 16) right of 3 is : (18, 15, 16, 1, 2, 3, 4, 5, 20, 22, 6, 7, 8, 9, 10, 12)

In [33]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

fib1 = 0
fib2 = 1
Tuple = [0, 1]
for i in range(3):
    summ = fib1 + fib2
    fib1 = fib2
    fib2 = summ
    Tuple.append(summ)
print(f"Fibonacci series : {tuple(Tuple)}")

Fibonacci series : (0, 1, 1, 2, 3)

In [3]:
# 42. Create a tuple from user input.

taking_input = input("Enter input seprated by , : ")
taking_list = taking_input.split(',')
user_tuple = tuple(taking_list)
print(f"user input : {user_tuple}")

Enter input seprated by , :  pw,skills,ineuron

user input : ('pw', 'skills', 'ineuron')

In [6]:
# 43. Swap two elements in a tuple.

Tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12)
index1 = 2
index2 = 5
swapped_tuple = tuple(Tuple[i] if i not in (index1, index2) else
                      Tuple[index2] if i == index1 else
                      Tuple[index1]
                      for i in range(len(Tuple))
)
print("Swapped Tuple : ", swapped_tuple)

Swapped Tuple :  (1, 2, 6, 4, 5, 3, 7, 8, 9, 10, 12)

In [7]:
# 44. Reverse the elements of a tuple.

Tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12)
reverse_tuple = Tuple[::-1]
print("Reversed Tuple : ",reverse_tuple)

Reversed Tuple :  (12, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [9]:
# 45. Create a tuple of the first `n` powers of 2.

n = int(input("Enter the value of n : "))
Tuple = tuple(2**i for i in range(n))
print(f"Tuple of the first {n} powers of 2 : {Tuple}")

Enter the value of n :  7

Tuple of the first 7 powers of 2 : (1, 2, 4, 8, 16, 32, 64)

In [10]:
# 46. Find the longest string in a tuple of strings.

Tuple = ['Convert', 'a', 'tuple', 'pwskills', 'skills', 'of', 'words', 'into', 'a', 'string', 'pw']
Tuple = sorted(Tuple, key = len)
print(f"Longest string in a Tuple : {Tuple[-1]}")

Longest string in a Tuple : pwskills

In [12]:
# 47. Find the shortest string in a tuple of strings.

Tuple = ['Convert', 'a', 'tuple', 'pwskills', 'skills', 'of', 'words', 'into', 'a', 'string', 'pw']
Tuple = sorted(Tuple, key = len)
print(f"Shortest string in a Tuple : {Tuple[0]}")

Shortest string in a Tuple : a

In [13]:
# 48. Create a tuple of the first `n` triangular numbers.

n = int(input("Enter the value of n : "))
triangular_number = tuple(i*(i+1)//2 for i in range(1,n+1))
print(f"First {n} triangular number : {triangular_number}")

Enter the value of n :  9

First 9 triangular number : (1, 3, 6, 10, 15, 21, 28, 36, 45)

In [17]:
# 49. Check if a tuple contains another tuple as a subsequence.

Tuple = (1, 2, 3, 4, 5, 6, 7, 5, 8, 9, 10, 11, 12, 15, 18, 20)
sub = (1, 2, 3, 5, 6, 8)
flag = 0
sub_index = 0
for i in range(0, len(Tuple)):
    if (Tuple[i] == sub[sub_index]):
        sub_index += 1
        if sub_index == len(sub):
            flag = 1
            break
if(flag == 1):
    print("Tuple contains the subsequence")
else:
    print("Tuple not contain subsequence")

Tuple contains the subsequence

In [4]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

n = int(input("Enter the value of n : "))
alternating_tuple = tuple(i%2 for i in range(n))
print(f"Alterating 1s and 0s of length{n} : {alternating_tuple}")

Enter the value of n :  8

Alterating 1s and 0s of length8 : (0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

In [7]:
# 1. Create a set with integers from 1 to 5.

Set = set()
for i in range(1, 6):
    Set.add(i)
print(Set)

{1, 2, 3, 4, 5}

In [2]:
# 2. Add an element to a set.

Set = {1, 2, 3, 4, 5}
add_element = 6
Set.add(add_element)
print(Set)

{1, 2, 3, 4, 5, 6}

In [6]:
# 3. Remove an element from a set.

Set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
remove_element = 8
Set.remove(remove_element)
print(f"Remove {remove_element} from Set : {Set}")

Remove 8 element from Set : {1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15}

In [10]:
# 4. Check if an element exists in a set.

Set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
element = int(input("Enter the element which is exit or not in set : "))
if element in Set:
    print(f"{element} is exist in set")
else:
    print(f"{element} is not exist in set")

Enter the element which is exit or not in set :  12

12 is exist in set

In [13]:
# 5. Find the length of a set without using the `len()` function.

Set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17}
Length = 0
for i in Set:
    Length += 1
print(f"Length is {Length}")

Length is 17

In [14]:
# 6. Clear all elements from a set.

Set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17}
Set.clear()
print(f"Clear set : {Set}")

Clear set : set()

In [15]:
# 7. Create a set of even numbers from 1 to 10.

Set = set()
for i in range(1, 11):
    if i%2 == 0:
        Set.add(i)
print(f"Even Numbers : {Set}")

Even Numbers : {2, 4, 6, 8, 10}

In [16]:
# 8. Create a set of odd numbers from 1 to 10.

Set = set()
for i in range(1, 11):
    if i%2 != 0:
        Set.add(i)
print(f"Odd Numbers : {Set}")

Odd Numbers : {1, 3, 5, 7, 9}

In [19]:
# 9. Find the union of two sets.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 6, 7, 1, 8, 9, 0}
Set = set1.union(set2)
print(f"Union of {set1} and {set2} is : {Set}")

Union of {1, 2, 3, 4, 5, 6, 7} and {0, 1, 4, 6, 7, 8, 9} is : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
# 10. Find the intersection of two sets.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 6, 7, 1, 8, 9, 0}
Set = set1.intersection(set2)
print(f"Intersection of {set1} and {set2} is : {Set}")

Intersection of {1, 2, 3, 4, 5, 6, 7} and {0, 1, 4, 6, 7, 8, 9} is : {1, 4, 6, 7}

In [21]:
# 11. Find the difference between two sets.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 6, 7, 1, 8, 9, 0}
Difference = set1.difference(set2)
print(f"Difference : {Difference}")

Difference : {2, 3, 5}

In [22]:
# 12. Check if a set is a subset of another set.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {1, 2, 3, 4, 6, 7, 1, 8, 9, 0, 5}
is_subset = set1.issubset(set2)
print(f"{set1} is subset of {set2} : {is_subset}")

{1, 2, 3, 4, 5, 6, 7} is subset of {0, 1, 2, 3, 4, 5, 6, 7, 8, 9} : True

In [23]:
# 13. Check if a set is a superset of another set.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {1, 2, 3, 4}
is_superset = set1.issuperset(set2)
print(f"{set1} is superset of {set2} : {is_subset}")

{1, 2, 3, 4, 5, 6, 7} is superset of {1, 2, 3, 4} : True

In [28]:
# 14. Create a set from a list.

List = [1, 2, 3, 4, 5, 6, 7, 3, 2, 4, 4, 3, 2, 1, 8, 9]
Set = set(List)
print(f"{List} List convert into SET : {Set}")

[1, 2, 3, 4, 5, 6, 7, 3, 2, 4, 4, 3, 2, 1, 8, 9] List convert into SET : {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
# 15. Convert a set to a list.

Set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
List = list(Set)
print(f"{Set} Set convert into List : {List}")

{1, 2, 3, 4, 5, 6, 7, 8, 9} Set convert into List : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
# 16. Remove a random element from a set.

import random
Set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
random_element = random.choice(list(Set))
Set.remove(random_element)
print(f"Remove the element {random_element} from set : {Set}")

Remove the element 4 from set : {1, 2, 3, 5, 6, 7, 8, 9}

In [31]:
# 17. Pop an element from a set.

Set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(f"Original set : {Set}")
popped = Set.pop()
print(f"popped element is {popped} from Set {Set}")

Original set : {1, 2, 3, 4, 5, 6, 7, 8, 9}
popped element is 1 from Set {2, 3, 4, 5, 6, 7, 8, 9}

In [37]:
# 18. Check if two sets have no elements in common.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {8, 9, 10, 11, 12, 13}
flag = 1
for i in set1:
    if i in set2:
        flag = 0
if(flag == 1):
    print(f"There is no common element between Sets {set1} and {set2}")
else:
    print(f"There is common element between Sets {set1} and {set2}")

There is no common element between Sets {1, 2, 3, 4, 5, 6, 7} and {8, 9, 10, 11, 12, 13}

In [38]:
# 19. Find the symmetric difference between two sets.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 6, 7, 1, 8, 9, 0}
symmetric_difference = set1^set2
print(f"Symmetric difference between {set1} and {set2} is : {symmetric_difference}")

Symmetric difference between {1, 2, 3, 4, 5, 6, 7} and {0, 1, 4, 6, 7, 8, 9} is : {0, 2, 3, 5, 8, 9}

In [39]:
# 20. Update a set with elements from another set.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 6, 7, 1, 8, 9, 0}
set1.update(set2)
print(f"Updated set : {set1}")

Updated set : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
# 21. Create a set of the first 5 prime numbers.

Set = set()
for i in range(2, 100):
    if i == 2:
        Set.add(i)
    else:
        for j in range(2, i):
            if i%j == 0:
                break
            elif j == i - 1:
                Set.add(i)
prime = set()
count = 0
for i in Set:
    prime.add(i)
    count += 1
    if count == 5:
        break
print(prime)

{2, 3, 5, 7, 11}

In [14]:
# 22. Check if two sets are identical.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 6, 7, 1, 5, 2, 3}
if set1 == set2:
    print(f"Set1 and Set2 are identical")
else:
    print(f"Set1 and Set2 are not identical")

Set1 and Set2 are identical

In [15]:
# 23. Create a frozen set.

List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
frozen_set = frozenset(List)
print(f"Frozenset : {frozen_set}")

Frozenset : frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [2]:
# 24. Check if a set is disjoint with another set.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 6, 7, 1, 8, 9, 0}
is_disjoint = set1.isdisjoint(set2)
if is_disjoint:
    print(f"set1 {set1} and set2 {set2} are Disjoint")
else:
    print(f"set1 {set1} and set2 {set2} are not Disjoint")

set1 {1, 2, 3, 4, 5, 6, 7} and set2 {0, 1, 4, 6, 7, 8, 9} are not Disjoint

In [3]:
# 25. Create a set of squares of numbers from 1 to 5.

Set = set()
for i in range(1, 6):
    Set.add(i**2)
print(Set)

{1, 4, 9, 16, 25}

In [7]:
# 26. Filter out all even numbers from a set.

Set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
odd_num = set()
for i in Set:
    if i%2 != 0:
        odd_num.add(i)
print(f"Filter out all even numbers from set {Set} is : {odd_num}")

Filter out all even numbers from set {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12} is : {1, 3, 5, 7, 9, 11}

In [8]:
# 27. Multiply all elements in a set by 2.

Set = {1, 2, 3, 4, 5, 6, 7}
mul = set(i*2 for i in Set)
print(mul)

{2, 4, 6, 8, 10, 12, 14}

In [11]:
# 28. Create a set of random numbers.

import random
Set = set()
for i in range(10):
    random_number = random.randint(1, 200)
    Set.add(random_number)
print(f"Random set : {Set}")

Random set : {194, 38, 135, 200, 71, 199, 48, 83, 181, 57}

In [14]:
# 29. Check if a set is empty.

Set1 = set()
if not Set:
    print("Set1 is empty")
else:
    print("Set1 is not empty")

Set2 = {2, 3, 4, 5, 6}
if not Set2:
    print("Set2 is empty")
else:
    print("Set2 is not empty")

Set1 is empty
Set2 is not empty

In [15]:
# 30. Create a nested set (hint: use frozenset).

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 6, 7, 1, 8, 9, 0}

frozenset1 = frozenset(set1)
frozenset2 = frozenset(set2)

nested_set = {frozenset(set1), frozenset(set2)}
print(f"Nested Set : {nested_set}")

Nested Set : {frozenset({0, 1, 4, 6, 7, 8, 9}), frozenset({1, 2, 3, 4, 5, 6, 7})}

In [3]:
# 31. Remove an element from a set using the discard method.

Set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
discard_element = 7
Set.discard(discard_element)
print(f"Discard element {discard_element} from Set : {Set}")

Discard element 7 from Set : {1, 2, 3, 4, 5, 6, 8, 9}

In [6]:
# 32. Compare two sets.

set1 = {1, 2, 3, 4, 5, 6}
set2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

is_subset = set1.issubset(set2)
is_superset = set2.issuperset(set1)

intersection = set1.intersection(set2)
union = set1.union(set2)

difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

print(f"set1 : {set1}")
print(f"set2 : {set2}")
print(f"set1 is subset of set2 : {is_subset}")
print(f"set2 is superset of set1 : {is_superset}")
print(f"Intersection Element : {intersection}")
print(f"Union Element between set1 and set2 : {union}")
print(f"Elements in set1 but not in set2 : {difference1}")
print(f"Elements in set2 but not in set1 : {difference2}")

set1 : {1, 2, 3, 4, 5, 6}
set2 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set1 is subset of set2 : True
set2 is superset of set1 : True
Intersection Element : {1, 2, 3, 4, 5, 6}
Union Element between set1 and set2 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
Elements in set1 but not in set2 : set()
Elements in set2 but not in set1 : {7, 8, 9, 10, 11, 12}

In [7]:
# 33. Create a set from a string.

string = "pwskills"
Set = set(string)
print(Set)

{'k', 'l', 's', 'p', 'i', 'w'}

In [11]:
# 34. Convert a set of strings to a set of integers.

String = {"123", "456", "789", "246", "357"}
Integer = set()
for i in String:
    Integer.add(int(i))
print(f"Set of Integer : {Integer}")

Set of Integer : {357, 456, 789, 246, 123}

In [10]:
# 35. Convert a set of integers to a set of strings.

Integer = {357, 456, 789, 246, 123}
String = set()
for i in Integer:
    String.add(str(i))
print(f"Set of string : {String}")

Set of string : {'123', '789', '456', '246', '357'}

In [12]:
# 36. Create a set from a tuple.

Tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
Set = set(Tuple)
print(Set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
# 37. Convert a set to a tuple.

Set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
Tuple = tuple(Set)
print(Tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [14]:
# 38. Find the maximum value in a set.

Set = {357, 456, 789, 246, 123, 157, 468, 987, 99, 932}
Max = -99999999
for i in Set:
    if i > Max:
        Max = i
print(f"Maximum Element in Set : {Max}")

Maximum Element in Set : 987

In [15]:
# 39. Find the minimum value in a set.

Set = {357, 456, 789, 246, 123, 157, 468, 987, 99, 932}
Min = 99999999
for i in Set:
    if i < Min:
        Min = i
print(f"Minimum Element in Set : {Min}")

Minimum Element in Set : 99

In [20]:
# 40. Create a set from user input.

Set = set()
print("Enter the element if ('done' enter) finished ")

while True:
    Input = input("Enter the input : ")
    if Input.lower() == "done":
        break
    Set.add(Input)
print(f"User Set : {Set}")

Enter the element if ('done' enter) finished

Enter the input :  pw
Enter the input :  skills
Enter the input :  sudh
Enter the input :  hii
Enter the input :  done

User Set : {'pw', 'skills', 'hii', 'sudh'}

In [21]:
# 41. Check if the intersection of two sets is empty.

set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {8, 9, 10, 11, 12, 13, 14}
Intersection = set1.intersection(set2)
if not Intersection:
    print("Intersection of two sets is empty")
else:
    print("Intersection of two sets is not empty")

Intersection of two sets is empty

In [22]:
# 42. Create a set of the first 5 Fibonacci numbers.

Set = set()
fib1 = 0
fib2 = 1
for i in range(5):
    Sum = fib1 + fib2
    fib1 = fib2
    fib2 = Sum
    Set.add(Sum)
print(f"First 5 Fibonacci numbers : {Set}")

First 5 Fibonacci numbers : {1, 2, 3, 5, 8}

In [23]:
# 43. Remove duplicates from a list using sets.

List = [1, 2, 3, 4, 5, 6, 3, 2, 1, 4, 2, 3, 1, 2, 3]
remove_dublicate = set(List)
new_list = list(remove_dublicate)
print(f"Unique List : {new_list}")

Unique List : [1, 2, 3, 4, 5, 6]

In [2]:
# 44. Check if two sets have the same elements, regardless of their count.

set1 = {1, 2, 3, 4, 5, 6, 7, 7, 7, 7}
set2 = {4, 6, 3, 2, 7, 1, 5, 1, 3}

s1 = sorted(set1)
s2 = sorted(set2)

if s1 == s2:
    print("Same Element")
else:
    print("Not Same Element")

Same Element

In [4]:
# 45. Create a set of the first `n` powers of 2.

Set = set()
n = int(input("Enter the value of n : "))
for i in range(n+1):
    Set.add(2**i)
print(sorted(Set))

Enter the value of n :  9

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [5]:
# 46. Find the common elements between a set and a list.

Set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
List = [1, 2, 3, 4, 5, 6, 3, 2, 1, 4, 2, 3, 1, 2, 3]
common_element = set()
for i in Set:
    if i in List:
        common_element.add(i)
print(f"Common element between set and list : {common_element}")

Common element between set and list : {1, 2, 3, 4, 5, 6}

In [9]:
# 47. Create a set of the first `n` triangular numbers.

Set = set()
n = int(input("Enter the value of n : "))
Sum = 0
for i in range(1, n+1):
    Sum += i
    Set.add(Sum)
print(f"First {n} triangular number : {Set}")

Enter the value of n :  9

First 9 triangular number : {1, 3, 36, 6, 10, 45, 15, 21, 28}

In [12]:
# 48. Check if a set contains another set as a subset.

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2 = {4, 5, 7, 9, 1}

is_subset = set2.issubset(set1)

if is_subset:
    print(f"set2 {set2} is subset of set1 : {set1}")
else:
    print(f"set2 {set2} is not subset of set1 : {set1}")

set2 {1, 4, 5, 7, 9} is subset of set1 : {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
# 49. Create a set of alternating 1s and 0s of length `n`.

Set = set()
n = int(input("Enter the value of n : "))
for i in range(n):
    Set.add(i%2)
print(Set)

Enter the value of n :  9

{0, 1}

In [1]:
# 50. Merge multiple sets into one.

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2 = {4, 5, 7, 9, 1, 10, 11, 15, 13, 18, 17}
set3 = {4, 7, 9, 11, 12, 14, 16, 19, 18}
set4 = {20, 21, 22, 23, 24, 25, 26, 27}

merge_set = set1.union(set2, set3, set4)
print(f"Merged set : {merge_set}")

Merged set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27}